@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0px
  background-color:#9e9686;
}

h1, h2, h3 {Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptas, quod ex atque, blanditiis veniam harum, quia omnis eius iure unde ullam rerum esse. Nulla assumenda atque temporibus, ab nam.
  font-family:  'Roboto',  sans-serif;
}

.container{
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;



}

.banner {
  background-size: cover;
  background-position: center;
  /*padding: 150px 0;*/
  height:100vh;
  background-repeat: none;
  position: relative;
}
.buttons {
 position: absolute;
  left:  720px;
  bottom: 48px;
  /*width: 40px;*/
  align-self: center;

}

.banner h1 {
  margin: 20px 0px 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.about {
  color:#fff;
  background: #eeeeee1f;
  width:348px;
  height:65vh;
  border-radius:24px;
  opacity: 1;
  display:block;
  position: relative;


}
.btn-flat {
  color: white;
  /*padding: 8px 24px;*/
  border-radius: 4px;
  background:transparent;
  transition: background 0.3s ease;
  text-decoration:none;
  margin-left: auto;
  margin-right: auto;
  width: 8em
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat:hover {
  background: #eee;
  color: green;
  /**/
}
.page-item a{
  text-decoration:none;
  color:white;
  text-decoration:none;
  font-size: 16px;
}
 .about-tabs{

list-style: none;
/*display :flex;
justify-content: center;
*/
 }
 .about-tabs a{
text-decoration:none;
  color:white;
  text-decoration:none;
  font-size: 16px;

 }
.social {
list-style: none;
display :flex;
justify-content: space-around;
position: absolute;
  right: 176px;
  bottom: -25px;
  width: 176px;

}
.social a{

  text-decoration:none;
  color:white;
  text-decoration:none;
  font-size: 16px;

}

.cta-primary{
  background: yellow;
  padding:12px 24px;
 border-radius:12px;
 margin-top: 12px;
}




.img-small{
  width: 348px;
  height: 320px;
  border-radius: 24px;
  object-fit: cover;
}


.
.text-justify{
font-stretch: ultra-expanded;
font-style: oblique;
font-variant-ligatures: no-discretionary-ligatures;
color: cadetblue;
font-size: 25px;
}
.btn-ghost {
  color: #4a4a4a;
  /*border: 1px solid #4A4A4A;*/
  padding: 8px 40px;
  /*border-radius: 50px;*/
  font-weight: thin;
  /*opacity: 0.6;*/
  /*transition: opacity 0.3s ease;*/
  background: white;
  font-size:16px;
}

.btn-ghost:hover {
  opacity: 1;
}
.list-nav{
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  margin-top: 12px;
  padding:24px;
  font-weight: bold;


}
.smooth{
  text-decoration: none;
  color:#8c1313ed;
}
