


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">


                        <li class="twitter">
                          <a href="http://www.twitter.com/geerop254" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter">Twitter</i></a> </li>


                </div>

<div class="col-md-4">


<li class="linkedin">
            <a href="http://au.linkedin.com/in/gael-jerop-a645ba23" title="Connect with me on Linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true">LinkedIn</i></a></li>






</div>






            </div>
        </div>
    </footer>
