

<!-- Services Section -->
<section id="team"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); width:100%; height:100vh;">
        <div class="container-team">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h2 class="section-heading">Recent Activities</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>

            <div class="team">
                <div class="col-sm-12 col-lg-12">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="https://images.unsplash.com/photo-1579412690850-bd41cd0af397?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
                    <div class="card-product mb-12">

                      <div class="card-product-infos">
                        <h2>Le wagon Bootcamp</h2>
                          <p class="large text-muted">Le wagon Fullstack Web Development Bootcamp, during my time at le wagon I undertook Projects in collaboration with other students ,I was mainly in charge of Designing features on the front end using Javascript,React,Figma,Sketch,HTML,SCSS.However I completed teo projects on my own doing both back end using ruby on rails as well as the front end.</p>
                      </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-12">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="https://images.unsplash.com/photo-1518088014774-fe87c6f07601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  />
                     <div class="card-product mb-12">

                      <div class="card-product-infos">
                        <h2>Green Duka</h2>
                          <p class="large text-muted">The green Duka Project is an online platform ,an e-commerce site selling ecofriendly products also for vendors to advertise and sell their products</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
                    <div class="card-product mt-12">

                      <div class="card-product-infos">
                        <h2>The User Design Course from Interaction Design</h2>
                         <p class="large text-muted">Completed UX/UI Design Course from Interaction Design online</p>
                      </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
